Use a code recipe or visual recipe to INNER JOIN* the manufacturing tables to create a table that has the KPIs (Key Performance Indicators) of each part and the engine serial number (or ESN) they associate with.

In [1]:
import numpy as np
import pandas as pd


#sets the default autosave frequency in seconds
%autosave 60 

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [2]:
df = pd.read_csv("avenginedata.csv")

In [3]:
df

           dataset     esn  unit  flight_cycle             datetime operator depart_icao destination_icao  hpc_eff_mod  hpc_flow_mod  tra      t2      t24      t30       t50     p2    p15     p30       nf       nc  epr   ps30     phi      nrf      nrc     bpr  farb  htbleed  nf_dmd  pcnfr_dmd    w31      w32
0       test_FD001  999126    26             1  2017-12-31 18:33:07      AXM        VTBD             VTUV      -0.0027        0.0006  100  518.67  1101.67  1582.88  1399.920  14.62  21.61  554.54  2388.02  9060.88  1.3  47.38  522.55  2387.98  8147.17  8.3468  0.03      392    2388        100  38.82  23.3876
1       test_FD001  999126    26             2  2017-12-31 19:59:49      AXM        VTUV             VTBD      -0.0029        0.0002  100  518.67  1102.02  1589.01  1398.460  14.62  21.61  554.11  2387.96  9063.16  1.3  47.21  521.85  2388.01  8146.58  8.4159  0.03      390    2388        100  39.00  23.3793
2       test_FD001  999126    26             3  2017-12-31 21:44:38      AXM        VTBD             VMMC       0.0008        0.0001  100  518.67  1102.36  1590.16  1398.400  14.62  21.61  554.39  2387.99  9057.29  1.3  47.16  522.34  2388.05  8144.60  8.4444  0.03      391    2388        100  39.20  23.3390
3       test_FD001  999126    26             4  2018-01-01 00:50:02      AXM        VMMC             VTBD      -0.0026        0.0005  100  518.67  1101.43  1583.37  1389.660  14.62  21.61  553.59  2387.99  9064.94  1.3  47.19  522.03  2388.00  8147.98  8.3986  0.03      392    2388        100  38.97  23.3931
4       test_FD001  999126    26             5  2018-01-01 04:25:32      AXM        VTBD             VTSP       0.0020        0.0005  100  518.67  1102.21  1591.71  1403.840  14.62  21.61  554.51  2388.01  9062.58  1.3  47.38  522.04  2388.00  8142.07  8.4332  0.03      391    2388        100  39.11  23.3904
...            ...     ...   ...           ...                  ...      ...         ...              ...          ...           ...  ...     ...      ...      ...       ...    ...    ...     ...      ...      ...  ...    ...     ...      ...      ...     ...   ...      ...     ...        ...    ...      ...
34773  train_FD001  999084    84           257  2018-06-06 08:22:54      PGT        LFSB             LTFJ      -0.0027        0.0000  100  518.67  1103.01  1599.89  1419.825  14.62  21.61  551.54  2388.29  9078.16  1.3  47.87  519.66  2388.20  8148.87  8.5464  0.03      397    2388        100  38.49  22.9996
34774  train_FD001  999084    84           258  2018-06-06 12:01:39      PGT        LTFJ             LTAJ       0.0026        0.0001  100  518.67  1103.54  1598.81  1423.085  14.62  21.61  551.82  2388.19  9068.16  1.3  48.29  520.00  2388.18  8148.76  8.5113  0.03      396    2388        100  38.49  23.0383
34775  train_FD001  999084    84           259  2018-06-06 14:01:52      PGT        LTAJ             LTFJ      -0.0013        0.0000  100  518.67  1102.87  1605.59  1419.050  14.62  21.61  551.80  2388.25  9077.82  1.3  48.08  519.74  2388.20  8146.22  8.5336  0.03      395    2388        100  38.36  23.0022
34776  train_FD001  999084    84           260  2018-06-06 18:41:30      PGT        OKBK             LTFJ      -0.0023        0.0001  100  518.67  1103.35  1606.08  1420.065  14.62  21.61  550.64  2388.25  9079.24  1.3  48.17  519.77  2388.23  8149.66  8.5367  0.03      396    2388        100  38.49  23.1018
34777  train_FD001  999095    95           266  2018-02-08 01:30:23      PGT        LTFJ             EDDS       0.0019        0.0003  100  518.67  1103.10  1609.16  1420.485  14.62  21.61  551.48  2388.21  9120.46  1.3  48.16  519.27  2388.20  8183.58  8.5648  0.03      396    2388        100  38.37  23.1041

[34778 rows x 32 columns]

In [4]:
df1 = df.sample(frac=0.5,random_state=0)

In [5]:
df1

           dataset     esn  unit  flight_cycle             datetime operator depart_icao destination_icao  hpc_eff_mod  hpc_flow_mod  tra      t2      t24      t30       t50     p2    p15     p30       nf       nc  epr   ps30     phi      nrf      nrc     bpr  farb  htbleed  nf_dmd  pcnfr_dmd    w31      w32
10457  train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548
24716  train_FD001  999015    15           116  2018-01-16 11:14:19     FRON        KDEN             KDSM       0.0042       -0.0004  100  518.67  1102.48  1590.55  1405.440  14.62  21.61  553.88  2388.13  9059.01  1.3  47.49  521.52  2388.15  8131.93  8.4141  0.03      393    2388        100  38.79  23.1558
21745   test_FD001  999159    59            15  2018-01-04 17:23:30     FRON        KIND             KMCO      -0.0019        0.0002  100  518.67  1101.59  1581.43  1397.660  14.62  21.61  553.76  2387.98  9053.86  1.3  47.15  521.75  2388.00  8141.38  8.3718  0.03      390    2388        100  39.07  23.3881
23353   test_FD001  999121    21            76  2018-01-10 18:39:21     FRON        KMSP             KDEN      -0.0007        0.0002  100  518.67  1102.14  1587.85  1397.230  14.62  21.61  553.97  2387.97  9057.68  1.3  47.24  521.67  2388.05  8137.22  8.4238  0.03      391    2388        100  39.15  23.3627
12172  train_FD001  999054    54            40  2018-01-10 02:50:42      AXM        WIII             WMKK       0.0010        0.0001  100  518.67  1101.58  1586.91  1392.190  14.62  21.61  553.85  2388.03  9060.22  1.3  47.35  522.59  2388.04  8148.27  8.4118  0.03      390    2388        100  39.11  23.3904
...            ...     ...   ...           ...                  ...      ...         ...              ...          ...           ...  ...     ...      ...      ...       ...    ...    ...     ...      ...      ...  ...    ...     ...      ...      ...     ...   ...      ...     ...        ...    ...      ...
31345   test_FD001  999153    53           147  2018-01-25 11:30:02      PGT        LTFJ             LTAC      -0.0028        0.0000  100  518.67  1102.85  1590.43  1412.715  14.62  21.61  553.21  2388.12  9097.56  1.3  47.56  521.42  2388.04  8160.32  8.4884  0.03      394    2388        100  38.77  23.4377
11080  train_FD001  999054    54             1  2018-01-01 06:27:22      AXM        VTBD             WMKK      -0.0036       -0.0001  100  518.67  1101.27  1580.90  1396.710  14.62  21.61  555.07  2387.96  9068.90  1.3  47.23  522.64  2388.03  8145.19  8.4028  0.03      391    2388        100  38.75  23.4799
15982   test_FD001  999131    31           132  2018-04-03 06:26:10      AXM         NaN              NaN       0.0001        0.0003  100  518.67  1102.56  1590.69  1412.425  14.62  21.61  553.07  2388.05  9072.95  1.3  47.49  521.40  2388.06  8145.60  8.4740  0.03      391    2388        100  38.78  23.3596
3635    test_FD001  999110    10            85  2018-01-11 15:46:00      AXM        WMKK             VMMC       0.0035       -0.0003  100  518.67  1101.73  1583.93  1397.790  14.62  21.61  553.77  2388.03  9063.17  1.3  47.27  522.45  2388.02  8140.29  8.4399  0.03      391    2388        100  39.00  23.4945
17246   test_FD001  999110    10           170  2018-01-24 07:27:44      AXM        VMMC             WMKK       0.0035        0.0004  100  518.67  1102.19  1586.06  1404.500  14.62  21.61  553.62  2388.05  9070.36  1.3  47.30  522.11  2388.06  8143.00  8.4148  0.03      393    2388        100  38.70  23.2733

[17389 rows x 32 columns]

### Step 5 | Build a supporting KPI table.

In [6]:
manu = pd.read_csv("av_manufacturing_supply_chain_psql.csv")

In [7]:
manu

               sn        pn     op part_desc  kc      msmts        max        min
0      7837606115  54321P01  op116    shroud   1  31.983503  33.061659  21.160852
1      5039651920  54321P01  op116    shroud   1  34.456691  33.061659  21.160852
2      7837606115  54321P01  op220    shroud   2  27.895096  30.303501  17.044897
3      5039651920  54321P01  op220    shroud   2  32.920628  30.303501  17.044897
4      9856636092  44321P02  op420     blade   1  12.640872  16.346054  10.600079
...           ...       ...    ...       ...  ..        ...        ...        ...
63995  6299766913  54321P01  op116    shroud   1  20.554360  33.061659  21.160852
63996  4512061920  54321P01  op116    shroud   1  22.756896  33.061659  21.160852
63997  6299766913  54321P01  op220    shroud   2  29.583411  30.303501  17.044897
63998  4512061920  54321P01  op220    shroud   2  30.475523  30.303501  17.044897
63999  4567412522  44321P02  op016     blade   2  19.191280  27.987527  11.183152

[64000 rows x 8 columns]

In [8]:
manu1 = manu.sample(frac=0.05, random_state=0)

In [9]:
manu1

               sn        pn     op part_desc   kc       msmts         max        min
11277  5897563181  54321P01  op116    shroud    1   24.172607   33.061659  21.160852
55819  3880534351  65421P11  op630      disk  120  141.158446  271.153922  99.827763
43223  4370057280  54321P01  op220    shroud    2   25.754601   30.303501  17.044897
1351    360209222  54321P01  op116    shroud    1   26.147983   33.061659  21.160852
9247   2915142739  65421P11  op630      disk   87  123.437705  271.153922  99.827763
...           ...       ...    ...       ...  ...         ...         ...        ...
41757  1140450245  54321P01  op220    shroud    2   25.778052   30.303501  17.044897
56906  9495107047  44321P02  op420     blade    1   15.922864   16.346054  10.600079
51743   944648874  65421P11  op630      disk  114  171.295726  271.153922  99.827763
21167  6936049070  54321P01  op116    shroud    1   22.841329   33.061659  21.160852
48668  3335633849  44321P02  op016     blade    2   30.345865   27.987527  11.183152

[3200 rows x 8 columns]

In [10]:
bom = pd.read_csv("av_bom_manufacturing_psql.csv")

In [11]:
bom

          esn        pn          sn    desc            vstream
0      999010  54321P01   822106416  shroud                cmc
1      999010  54321P01   664475698  shroud                cmc
2      999010  54321P01  2430976214  shroud                cmc
3      999010  54321P01  1277358392  shroud                cmc
4      999010  54321P01  8668054501  shroud                cmc
...       ...       ...         ...     ...                ...
20195  999093  44321P02  1003439575   blade  machined_airfoils
20196  999093  44321P02  3829220140   blade  machined_airfoils
20197  999093  44321P02  4571829989   blade  machined_airfoils
20198  999093  44321P02  8136478509   blade  machined_airfoils
20199  999093  65421P11  4508428560    disk     rotating_parts

[20200 rows x 5 columns]

In [12]:
bom1 = bom.sample(frac=0.1,random_state=0)

In [13]:
kpitable = pd.merge(left=manu1, right=bom1, how='inner',on='pn')

In [14]:
kpitable

               sn_x        pn     op part_desc  kc      msmts        max        min     esn        sn_y    desc            vstream
0        5897563181  54321P01  op116    shroud   1  24.172607  33.061659  21.160852  999046  6804819408  shroud                cmc
1        5897563181  54321P01  op116    shroud   1  24.172607  33.061659  21.160852  999063  8776103838  shroud                cmc
2        5897563181  54321P01  op116    shroud   1  24.172607  33.061659  21.160852  999095  5414855032  shroud                cmc
3        5897563181  54321P01  op116    shroud   1  24.172607  33.061659  21.160852  999021   122236869  shroud                cmc
4        5897563181  54321P01  op116    shroud   1  24.172607  33.061659  21.160852  999011  8282194799  shroud                cmc
...             ...       ...    ...       ...  ..        ...        ...        ...     ...         ...     ...                ...
2104525  3335633849  44321P02  op016     blade   2  30.345865  27.987527  11.183152  999046  6279092079   blade  machined_airfoils
2104526  3335633849  44321P02  op016     blade   2  30.345865  27.987527  11.183152  999118  7238358029   blade  machined_airfoils
2104527  3335633849  44321P02  op016     blade   2  30.345865  27.987527  11.183152  999042  3450305789   blade  machined_airfoils
2104528  3335633849  44321P02  op016     blade   2  30.345865  27.987527  11.183152  999083   934140491   blade  machined_airfoils
2104529  3335633849  44321P02  op016     blade   2  30.345865  27.987527  11.183152  999178  4761692240   blade  machined_airfoils

[2104530 rows x 12 columns]

In [15]:
kpitable.duplicated().sum()

0

In [16]:
kpitable1 = kpitable.sample(frac=0.05, random_state=0)

In [17]:
kpitable1

               sn_x        pn     op part_desc  kc      msmts        max        min     esn        sn_y    desc            vstream
697164   3628661032  54321P01  op116    shroud   1  30.978226  33.061659  21.160852  999146  3905519313  shroud                cmc
1319265  1823811079  54321P01  op220    shroud   2  23.890846  30.303501  17.044897  999159  7981949910  shroud                cmc
388623   4591973097  54321P01  op220    shroud   2  20.538837  30.303501  17.044897  999099   826350563  shroud                cmc
1023015  5235783172  54321P01  op220    shroud   2  17.307180  30.303501  17.044897  999093   896556326  shroud                cmc
47153    8868037964  54321P01  op116    shroud   1  18.394660  33.061659  21.160852  999013   761257699  shroud                cmc
...             ...       ...    ...       ...  ..        ...        ...        ...     ...         ...     ...                ...
1130642  9661359233  54321P01  op116    shroud   1  31.282314  33.061659  21.160852  999106  7816334277  shroud                cmc
1092772  7640548765  54321P01  op116    shroud   1  27.368041  33.061659  21.160852  999159  4544512214  shroud                cmc
80923    5177880439  54321P01  op220    shroud   2  29.283795  30.303501  17.044897  999064    37027425  shroud                cmc
1951398  9788484674  44321P02  op016     blade   2  24.368014  27.987527  11.183152  999095  8355436195   blade  machined_airfoils
1592697  5077460631  44321P02  op420     blade   1  13.545880  16.346054  10.600079  999193  9829537549   blade  machined_airfoils

[105226 rows x 12 columns]

### Step 6 | Join the new KPI table to the consolidated flights table

In [18]:
step6 = pd.merge(left=df1, right=kpitable1, how='inner',on='esn')

In [19]:
step6

             dataset     esn  unit  flight_cycle             datetime operator depart_icao destination_icao  hpc_eff_mod  hpc_flow_mod  tra      t2      t24      t30       t50     p2    p15     p30       nf       nc  epr   ps30     phi      nrf      nrc     bpr  farb  htbleed  nf_dmd  pcnfr_dmd    w31      w32        sn_x        pn     op part_desc  kc      msmts        max        min        sn_y    desc            vstream
0        train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548   854808898  54321P01  op116    shroud   1  25.435562  33.061659  21.160852  9198033503  shroud                cmc
1        train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548  9561496345  54321P01  op116    shroud   1  28.541626  33.061659  21.160852  9198033503  shroud                cmc
2        train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548  8906674783  54321P01  op220    shroud   2  21.887296  30.303501  17.044897  9198033503  shroud                cmc
3        train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548  7395642145  54321P01  op116    shroud   1  30.412516  33.061659  21.160852  9516328176  shroud                cmc
4        train_FD001  999097    97           194  2018-03-04 01:03:00      AXM        VRMM             VTBD      -0.0008       -0.0002  100  518.67  1103.19  1605.46  1418.235  14.62  21.61  553.18  2388.15  9197.35  1.3  48.16  520.41  2388.12  8255.95  8.5132  0.03      397    2388        100  38.38  22.9548  1340183150  54321P01  op116    shroud   1  21.128166  33.061659  21.160852  9198033503  shroud                cmc
...              ...     ...   ...           ...                  ...      ...         ...              ...          ...           ...  ...     ...      ...      ...       ...    ...    ...     ...      ...      ...  ...    ...     ...      ...      ...     ...   ...      ...     ...        ...    ...      ...         ...       ...    ...       ...  ..        ...        ...        ...         ...     ...                ...
9094606   test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.830  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609  2886824565  44321P02  op420     blade   1  15.830675  16.346054  10.600079  8793533153   blade  machined_airfoils
9094607   test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.830  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609  4977721250  54321P01  op220    shroud   2  26.458997  30.303501  17.044897  6502402978  shroud                cmc
9094608   test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.830  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609   328332501  44321P02  op016     blade   2  26.209030  27.987527  11.183152  8793533153   blade  machined_airfoils
9094609   test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.830  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609  1391758282  44321P02  op016     blade   2   4.711969  27.987527  11.183152  7559979856   blade  machined_airfoils
9094610   test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.830  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609  3558888438  54321P01  op220    shroud   2  21.936755  30.303501  17.044897  6502402978  shroud                cmc

[9094611 rows x 43 columns]

### Step 7 | Join final table with table from step 5 to get remaining useful life (RUL*) for each engine

In [20]:
rul = pd.read_csv("av_esn_rul_psql.csv")

In [21]:
rul

       esn  rul
0   999175  123
1   999197   95
2   999123  141
3   999122  122
4   999126  162
..     ...  ...
95  999124   20
96  999151  134
97  999186   80
98  999168    8
99  999111  150

[100 rows x 2 columns]

In [22]:
step7 = pd.merge(left=df1, right=rul, how='inner',on='esn')

In [23]:
step7

         dataset     esn  unit  flight_cycle             datetime operator depart_icao destination_icao  hpc_eff_mod  hpc_flow_mod  tra      t2      t24      t30      t50     p2    p15     p30       nf       nc  epr   ps30     phi      nrf      nrc     bpr  farb  htbleed  nf_dmd  pcnfr_dmd    w31      w32  rul
0     test_FD001  999159    59            15  2018-01-04 17:23:30     FRON        KIND             KMCO      -0.0019        0.0002  100  518.67  1101.59  1581.43  1397.66  14.62  21.61  553.76  2387.98  9053.86  1.3  47.15  521.75  2388.00  8141.38  8.3718  0.03      390    2388        100  39.07  23.3881  119
1     test_FD001  999159    59             1  2017-12-31 20:29:57     FRON        KMCO             KCVG      -0.0008       -0.0004  100  518.67  1101.92  1589.29  1395.20  14.62  21.61  554.74  2387.96  9050.56  1.3  47.44  522.52  2388.02  8139.38  8.3801  0.03      390    2388        100  39.14  23.3486  119
2     test_FD001  999159    59            55  2018-01-09 12:13:13     FRON        KLAX             KATL       0.0008       -0.0001  100  518.67  1101.80  1577.44  1396.72  14.62  21.61  554.42  2387.97  9052.88  1.3  47.20  522.58  2388.04  8134.88  8.3841  0.03      393    2388        100  39.06  23.3695  119
3     test_FD001  999159    59             6  2018-01-02 06:49:26     FRON        KMKE             KMIA      -0.0009       -0.0002  100  518.67  1101.40  1579.85  1397.03  14.62  21.61  554.92  2388.00  9060.03  1.3  47.12  522.20  2388.00  8134.46  8.4105  0.03      391    2388        100  38.94  23.3968  119
4     test_FD001  999159    59            66  2018-01-10 09:13:00     FRON        KSAT             KONT       0.0003        0.0001  100  518.67  1101.92  1585.21  1406.96  14.62  21.61  554.56  2388.05  9061.70  1.3  47.12  522.33  2388.03  8134.46  8.4097  0.03      393    2388        100  38.98  23.4150  119
...          ...     ...   ...           ...                  ...      ...         ...              ...          ...           ...  ...     ...      ...      ...      ...    ...    ...     ...      ...      ...  ...    ...     ...      ...      ...     ...   ...      ...     ...        ...    ...      ...  ...
7858  test_FD001  999101     1            29  2018-01-05 07:48:43      PGT        LTAU             LTFJ       0.0014        0.0001  100  518.67  1101.62  1587.15  1398.11  14.62  21.61  554.15  2388.08  9046.11  1.3  47.42  522.39  2388.07  8133.13  8.4212  0.03      392    2388        100  39.02  23.3621  149
7859  test_FD001  999101     1            24  2018-01-04 12:21:10      PGT        LTCA             LTFJ      -0.0006       -0.0001  100  518.67  1101.99  1594.29  1400.15  14.62  21.61  553.27  2388.07  9043.32  1.3  47.29  522.06  2388.12  8130.70  8.4074  0.03      393    2388        100  38.94  23.3971  149
7860  test_FD001  999101     1             4  2018-01-01 07:27:35      PGT        EDDF             LTFJ       0.0042        0.0000  100  518.67  1102.11  1584.12  1406.42  14.62  21.61  554.07  2388.03  9045.29  1.3  47.28  521.38  2388.05  8132.90  8.3917  0.03      391    2388        100  39.00  23.3737  149
7861  test_FD001  999101     1            31  2018-01-05 11:49:42      PGT        LTAU             LTFJ      -0.0006        0.0004  100  518.67  1102.25  1581.22  1398.91  14.62  21.61  554.42  2388.08  9056.40  1.3  47.23  521.79  2388.06  8130.11  8.4024  0.03      393    2388        100  38.81  23.3552  149
7862  test_FD001  999101     1            11  2018-01-02 23:28:31      PGT        LTFJ             LTFH       0.0007       -0.0004  100  518.67  1101.71  1581.03  1403.83  14.62  21.61  554.69  2388.04  9051.67  1.3  47.23  521.95  2388.06  8132.38  8.3919  0.03      391    2388        100  39.06  23.3609  149

[7863 rows x 33 columns]

In [24]:
step7.to_csv("final.csv",index=False)