In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("av_engine_data_aic_psql.csv")

In [3]:
df1

Empty DataFrame
Columns: [dataset, esn, unit, flight_cycle, datetime, operator, depart_icao, destination_icao, hpc_eff_mod, hpc_flow_mod, tra, t2, t24, t30, t50, p2, p15, p30, nf, nc, epr, ps30, phi, nrf, nrc, bpr, farb, htbleed, nf_dmd, pcnfr_dmd, w31, w32]
Index: []

[0 rows x 32 columns]

In [4]:
df2 = pd.read_csv("av_engine_data_axm_psql.csv")

In [5]:
df2

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,test_FD001,999126,26,1,2017-12-31 18:33:07,AXM,VTBD,VTUV,-0.0027,0.0006,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,test_FD001,999126,26,2,2017-12-31 19:59:49,AXM,VTUV,VTBD,-0.0029,0.0002,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,test_FD001,999126,26,3,2017-12-31 21:44:38,AXM,VTBD,VMMC,0.0008,0.0001,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390
3,test_FD001,999126,26,4,2018-01-01 00:50:02,AXM,VMMC,VTBD,-0.0026,0.0005,...,522.03,2388.00,8147.98,8.3986,0.03,392,2388,100,38.97,23.3931
4,test_FD001,999126,26,5,2018-01-01 04:25:32,AXM,VTBD,VTSP,0.0020,0.0005,...,522.04,2388.00,8142.07,8.4332,0.03,391,2388,100,39.11,23.3904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21183,train_FD001,999096,96,264,2018-02-13 22:32:30,AXM,WMKK,VDSV,-0.0034,0.0005,...,519.47,2388.25,8142.08,8.5109,0.03,395,2388,100,38.53,23.0965
21184,train_FD001,999096,96,265,2018-02-14 00:48:00,AXM,VDSV,WMKK,0.0015,0.0004,...,519.49,2388.20,8140.98,8.5158,0.03,396,2388,100,38.30,23.0309
21185,train_FD001,999096,96,266,2018-02-14 02:06:00,AXM,WMKK,WBKL,-0.0028,-0.0002,...,519.48,2388.27,8145.65,8.5165,0.03,395,2388,100,38.63,23.1059
21186,train_FD001,999096,96,267,2018-02-14 03:23:32,AXM,WMKK,WBKL,0.0001,0.0005,...,519.61,2388.25,8143.74,8.5615,0.03,396,2388,100,38.51,23.0118
21187,train_FD001,999096,96,268,2018-02-14 17:04:38,AXM,WMKK,VDSR,-0.0031,-0.0005,...,519.18,2388.24,8144.03,8.5022,0.03,397,2388,100,38.36,23.0258

In [6]:
df3 = pd.read_csv("av_engine_data_fron_psql.csv")

In [7]:
df3

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,train_FD001,999050,50,1,2018-01-06 06:01:09,FRON,KMCO,KMSY,-0.0029,-0.0002,...,521.68,2388.06,8151.49,8.4158,0.03,393,2388,100,38.80,23.3016
1,train_FD001,999050,50,2,2018-01-06 07:41:00,FRON,KMSY,KSAT,-0.0002,-0.0005,...,522.12,2388.07,8142.72,8.4467,0.03,392,2388,100,38.99,23.3440
2,train_FD001,999050,50,3,2018-01-06 08:41:18,FRON,KMSY,KSAT,-0.0010,-0.0005,...,521.96,2388.05,8139.14,8.4424,0.03,393,2388,100,38.91,23.3190
3,train_FD001,999050,50,4,2018-01-06 10:14:00,FRON,KSAT,KSAN,-0.0061,-0.0002,...,522.31,2388.04,8145.16,8.4504,0.03,393,2388,100,38.95,23.3161
4,train_FD001,999050,50,5,2018-01-06 11:12:52,FRON,KSAT,KSAN,-0.0002,0.0001,...,522.05,2388.05,8145.35,8.3822,0.03,392,2388,100,38.83,23.3256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7285,train_FD001,999086,86,271,2018-02-08 08:24:59,FRON,KMIA,KLAS,-0.0017,0.0000,...,519.80,2388.22,8153.15,8.5043,0.03,396,2388,100,38.47,23.0271
7286,train_FD001,999086,86,272,2018-02-08 13:16:00,FRON,KLAS,KIND,0.0002,-0.0004,...,519.62,2388.23,8153.33,8.4910,0.03,396,2388,100,38.52,23.0738
7287,train_FD001,999086,86,273,2018-02-08 14:16:02,FRON,KLAS,KIND,0.0017,0.0002,...,519.51,2388.21,8150.99,8.5339,0.03,396,2388,100,38.45,23.1261
7288,train_FD001,999086,86,274,2018-02-08 18:21:45,FRON,KIND,KMCO,0.0003,0.0003,...,519.13,2388.25,8157.08,8.5220,0.03,396,2388,100,38.49,23.0981
7289,train_FD001,999086,86,275,2018-02-09 09:05:00,FRON,KMCO,KBUF,-0.0002,-0.0005,...,519.63,2388.22,8151.89,8.4919,0.03,398,2388,100,38.51,22.9947

In [8]:
df4 = pd.read_csv("av_engine_data_pgt_psql.csv")

In [9]:
df4

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,train_FD001,999056,56,1,2018-01-01 06:33:13,PGT,LTBJ,LTCR,0.0012,-0.0004,...,521.18,2388.13,8136.92,8.4412,0.03,395,2388,100,38.81,23.2391
1,train_FD001,999056,56,2,2018-01-01 09:40:21,PGT,LTCR,LTBJ,0.0012,-0.0004,...,520.82,2388.08,8133.11,8.4461,0.03,394,2388,100,38.82,23.3340
2,train_FD001,999056,56,3,2018-01-01 12:23:01,PGT,LTBJ,LTFJ,0.0026,0.0005,...,521.70,2388.12,8136.86,8.4357,0.03,394,2388,100,38.89,23.2844
3,train_FD001,999056,56,4,2018-01-01 14:11:10,PGT,LTFJ,LTCG,0.0034,-0.0002,...,522.06,2388.18,8132.53,8.4411,0.03,394,2388,100,38.79,23.3204
4,train_FD001,999056,56,5,2018-01-01 21:10:50,PGT,LTCG,LTFJ,0.0024,-0.0001,...,521.36,2388.16,8133.47,8.4824,0.03,394,2388,100,39.00,23.3592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,train_FD001,999084,84,257,2018-06-06 08:22:54,PGT,LFSB,LTFJ,-0.0027,0.0000,...,519.66,2388.20,8148.87,8.5464,0.03,397,2388,100,38.49,22.9996
6296,train_FD001,999084,84,258,2018-06-06 12:01:39,PGT,LTFJ,LTAJ,0.0026,0.0001,...,520.00,2388.18,8148.76,8.5113,0.03,396,2388,100,38.49,23.0383
6297,train_FD001,999084,84,259,2018-06-06 14:01:52,PGT,LTAJ,LTFJ,-0.0013,0.0000,...,519.74,2388.20,8146.22,8.5336,0.03,395,2388,100,38.36,23.0022
6298,train_FD001,999084,84,260,2018-06-06 18:41:30,PGT,OKBK,LTFJ,-0.0023,0.0001,...,519.77,2388.23,8149.66,8.5367,0.03,396,2388,100,38.49,23.1018
6299,train_FD001,999095,95,266,2018-02-08 01:30:23,PGT,LTFJ,EDDS,0.0019,0.0003,...,519.27,2388.20,8183.58,8.5648,0.03,396,2388,100,38.37,23.1041

In [10]:
df = pd.concat([df1,df2,df3,df4],axis=0)

In [11]:
df

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,test_FD001,999126,26,1,2017-12-31 18:33:07,AXM,VTBD,VTUV,-0.0027,0.0006,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,test_FD001,999126,26,2,2017-12-31 19:59:49,AXM,VTUV,VTBD,-0.0029,0.0002,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,test_FD001,999126,26,3,2017-12-31 21:44:38,AXM,VTBD,VMMC,0.0008,0.0001,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390
3,test_FD001,999126,26,4,2018-01-01 00:50:02,AXM,VMMC,VTBD,-0.0026,0.0005,...,522.03,2388.00,8147.98,8.3986,0.03,392,2388,100,38.97,23.3931
4,test_FD001,999126,26,5,2018-01-01 04:25:32,AXM,VTBD,VTSP,0.0020,0.0005,...,522.04,2388.00,8142.07,8.4332,0.03,391,2388,100,39.11,23.3904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,train_FD001,999084,84,257,2018-06-06 08:22:54,PGT,LFSB,LTFJ,-0.0027,0.0000,...,519.66,2388.20,8148.87,8.5464,0.03,397,2388,100,38.49,22.9996
6296,train_FD001,999084,84,258,2018-06-06 12:01:39,PGT,LTFJ,LTAJ,0.0026,0.0001,...,520.00,2388.18,8148.76,8.5113,0.03,396,2388,100,38.49,23.0383
6297,train_FD001,999084,84,259,2018-06-06 14:01:52,PGT,LTAJ,LTFJ,-0.0013,0.0000,...,519.74,2388.20,8146.22,8.5336,0.03,395,2388,100,38.36,23.0022
6298,train_FD001,999084,84,260,2018-06-06 18:41:30,PGT,OKBK,LTFJ,-0.0023,0.0001,...,519.77,2388.23,8149.66,8.5367,0.03,396,2388,100,38.49,23.1018
6299,train_FD001,999095,95,266,2018-02-08 01:30:23,PGT,LTFJ,EDDS,0.0019,0.0003,...,519.27,2388.20,8183.58,8.5648,0.03,396,2388,100,38.37,23.1041

In [12]:
df.reset_index(drop=True, inplace=True)

In [13]:
df

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,test_FD001,999126,26,1,2017-12-31 18:33:07,AXM,VTBD,VTUV,-0.0027,0.0006,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,test_FD001,999126,26,2,2017-12-31 19:59:49,AXM,VTUV,VTBD,-0.0029,0.0002,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,test_FD001,999126,26,3,2017-12-31 21:44:38,AXM,VTBD,VMMC,0.0008,0.0001,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390
3,test_FD001,999126,26,4,2018-01-01 00:50:02,AXM,VMMC,VTBD,-0.0026,0.0005,...,522.03,2388.00,8147.98,8.3986,0.03,392,2388,100,38.97,23.3931
4,test_FD001,999126,26,5,2018-01-01 04:25:32,AXM,VTBD,VTSP,0.0020,0.0005,...,522.04,2388.00,8142.07,8.4332,0.03,391,2388,100,39.11,23.3904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34773,train_FD001,999084,84,257,2018-06-06 08:22:54,PGT,LFSB,LTFJ,-0.0027,0.0000,...,519.66,2388.20,8148.87,8.5464,0.03,397,2388,100,38.49,22.9996
34774,train_FD001,999084,84,258,2018-06-06 12:01:39,PGT,LTFJ,LTAJ,0.0026,0.0001,...,520.00,2388.18,8148.76,8.5113,0.03,396,2388,100,38.49,23.0383
34775,train_FD001,999084,84,259,2018-06-06 14:01:52,PGT,LTAJ,LTFJ,-0.0013,0.0000,...,519.74,2388.20,8146.22,8.5336,0.03,395,2388,100,38.36,23.0022
34776,train_FD001,999084,84,260,2018-06-06 18:41:30,PGT,OKBK,LTFJ,-0.0023,0.0001,...,519.77,2388.23,8149.66,8.5367,0.03,396,2388,100,38.49,23.1018
34777,train_FD001,999095,95,266,2018-02-08 01:30:23,PGT,LTFJ,EDDS,0.0019,0.0003,...,519.27,2388.20,8183.58,8.5648,0.03,396,2388,100,38.37,23.1041

In [14]:
df.to_csv("avenginedata.csv",index=False)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34778 entries, 0 to 34777
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   dataset           34778 non-null  object
 1   esn               34778 non-null  object
 2   unit              34778 non-null  object
 3   flight_cycle      34778 non-null  object
 4   datetime          34778 non-null  object
 5   operator          34778 non-null  object
 6   depart_icao       33791 non-null  object
 7   destination_icao  33367 non-null  object
 8   hpc_eff_mod       34778 non-null  float64
 9   hpc_flow_mod      34778 non-null  float64
 10  tra               34778 non-null  object
 11  t2                34778 non-null  float64
 12  t24               34778 non-null  float64
 13  t30               34778 non-null  float64
 14  t50               34778 non-null  float64
 15  p2                34778 non-null  float64
 16  p15               34778 non-null  float64
 17  p30               34778 non-null  float64
 18  nf                34778 non-null  float64
 19  nc                34778 non-null  float64
 20  epr               34778 non-null  float64
 21  ps30              34778 non-null  float64
 22  phi               34778 non-null  float64
 23  nrf               34778 non-null  float64
 24  nrc               34778 non-null  float64
 25  bpr               34778 non-null  float64
 26  farb              34778 non-null  float64
 27  htbleed           34778 non-null  object
 28  nf_dmd            34778 non-null  object
 29  pcnfr_dmd         34778 non-null  object
 30  w31               34778 non-null  float64
 31  w32               34778 non-null  float64
dtypes: float64(20), object(12)
memory usage: 8.5+ MB

In [16]:
df['t24'] = df['t24'] + 459.67

In [17]:
df

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,test_FD001,999126,26,1,2017-12-31 18:33:07,AXM,VTBD,VTUV,-0.0027,0.0006,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,test_FD001,999126,26,2,2017-12-31 19:59:49,AXM,VTUV,VTBD,-0.0029,0.0002,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,test_FD001,999126,26,3,2017-12-31 21:44:38,AXM,VTBD,VMMC,0.0008,0.0001,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390
3,test_FD001,999126,26,4,2018-01-01 00:50:02,AXM,VMMC,VTBD,-0.0026,0.0005,...,522.03,2388.00,8147.98,8.3986,0.03,392,2388,100,38.97,23.3931
4,test_FD001,999126,26,5,2018-01-01 04:25:32,AXM,VTBD,VTSP,0.0020,0.0005,...,522.04,2388.00,8142.07,8.4332,0.03,391,2388,100,39.11,23.3904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34773,train_FD001,999084,84,257,2018-06-06 08:22:54,PGT,LFSB,LTFJ,-0.0027,0.0000,...,519.66,2388.20,8148.87,8.5464,0.03,397,2388,100,38.49,22.9996
34774,train_FD001,999084,84,258,2018-06-06 12:01:39,PGT,LTFJ,LTAJ,0.0026,0.0001,...,520.00,2388.18,8148.76,8.5113,0.03,396,2388,100,38.49,23.0383
34775,train_FD001,999084,84,259,2018-06-06 14:01:52,PGT,LTAJ,LTFJ,-0.0013,0.0000,...,519.74,2388.20,8146.22,8.5336,0.03,395,2388,100,38.36,23.0022
34776,train_FD001,999084,84,260,2018-06-06 18:41:30,PGT,OKBK,LTFJ,-0.0023,0.0001,...,519.77,2388.23,8149.66,8.5367,0.03,396,2388,100,38.49,23.1018
34777,train_FD001,999095,95,266,2018-02-08 01:30:23,PGT,LTFJ,EDDS,0.0019,0.0003,...,519.27,2388.20,8183.58,8.5648,0.03,396,2388,100,38.37,23.1041

In [18]:
df['t24'].value_counts()

1102.16    354
1102.21    337
1102.17    336
1102.12    336
1102.34    332
          ...
1100.93      1
1104.01      1
1103.96      1
1103.88      1
1101.00      1
Name: t24, Length: 306, dtype: int64

In [19]:
df.to_csv("avenginedata.csv",index=False)